---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AABnJkd7QAvm_tIgeLm9irXqiWxRukR14xwemN7zGIPEzU9R1HS808Z84jpb3gEBapUlYYJmkrKTWNwyIzHnrwqoJcIyAQWHh03wwxwx9iRD7dT3RmqceqZgg8Md1mo9m8VxIU-XVGW3ZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 54b9817d-dcd5-4b62-afdf-0d24c311fd24
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-9fca127d-6104-4b0a-a1a1-3beac835afc3
    body:
      encoding: UTF-8
      string: '{"servers": [{"id": "95d4f801-858a-4728-9ac0-dc5900d71f76", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "bookmark"}], "name": "crb_discourse"}, {"id": "b32068b7-4e57-4125-9d1a-33918e292e88",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "bookmark"}], "name": "personal"}, {"id": "9037d915-ee27-4573-808b-167ddf05f856",
        "links": [{"href": "https://iad.servers.api.rackspacec[...]
[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AABnJkd7QAvm_tIgeLm9irXqiWxRukR14xwemN7zGIPEzU9R1HS808Z84jpb3gEBapUlYYJmkrKTWNwyIzHnrwqoJcIyAQWHh03wwxwx9iRD7dT3RmqceqZgg8Md1mo9m8VxIU-XVGW3ZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 87f1da3a-9f12-43d8-925a-c190e85e4733
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-70e1ca1c-6118-49a7-b4b9-bb34e4eb4362
    body:
      encoding: UTF-8
      string: '{"server": {"status": "ACTIVE", "updated": "2016-01-27T17:10:13Z",
        "hostId": "8dc6e5fb8b3c505962f54b01cdc19555f1252f32ee8ddd012eb763e8", "addresses":
        {"public": [{"version": 6, "addr": "2001:4802:7802:102:be76:4eff:fe21:2a8d"},
        {"version": 4, "addr": "162.242.245.203"}], "private": [{"version": 4, "addr":
        "10.208.163.141"}]}, "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "bookmark"}], "key_name": "Darby", "image": {"id": "59a3fadd-93e7-4674-886a-64883e17115f",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/images/59a3fadd-93e7-4674-886a-64883e17115f",
        "rel": "bookmark"}]}, "RAX-PUBLIC-IP-ZONE-ID:publicIPZoneId": "99ac3668f1de2a481a5b1ee47fd09cd75fbdc91f344c4c80d2f28935",
        "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state": "active", "flavor":
        {"id": "general1-4", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/flavors/general1-4",
        "rel": "bookmark"}]}, "id": "95d4f801-858a-4728-9ac0-dc5900d71f76", "user_id":
        "1658c175e6f34629915d3305cd4e541c", "name": "crb_discourse", "created": "2015-12-23T00:26:49Z",
        "tenant_id": "<RS_TENANT_ID>", "OS-DCF:diskConfig": "MANUAL", "accessIPv4":
        "162.242.245.203", "accessIPv6": "2001:4802:7802:102:be76:4eff:fe21:2a8d",
        "progress": 100, "OS-EXT-STS:power_state": 1, "config_drive": "", "metadata":
        {"build_config": "monitoring_defaults,monitoring_agent_only,auto_updates",
        "rax_service_level_automation": "Complete"}}}'
  recorded_at: Fri, 06 May 2016 14:24:36 GMT
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76/os-volume_attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AABnJkd7QAvm_tIgeLm9irXqiWxRukR14xwemN7zGIPEzU9R1HS808Z84jpb3gEBapUlYYJmkrKTWNwyIzHnrwqoJcIyAQWHh03wwxwx9iRD7dT3RmqceqZgg8Md1mo9m8VxIU-XVGW3ZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 4a63cdae-54d6-4f25-9139-5afd038e9c3c
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e8befd85-c71d-4e33-8281-6d25be235035
    body:
      encoding: UTF-8
      string: '{"volumeAttachments": [{"device": "/dev/xvdb", "serverId": "95d4f801-858a-4728-9ac0-dc5900d71f76",
        "id": "b90106aa-a1f8-4a5f-b253-e34af6badb31", "volumeId": "b90106aa-a1f8-4a5f-b253-e34af6badb31"}]}'
  recorded_at: Fri, 06 May 2016 14:24:47 GMT
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76/os-volume_attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AABnJkd7QAvm_tIgeLm9irXqiWxRukR14xwemN7zGIPEzU9R1HS808Z84jpb3gEBapUlYYJmkrKTWNwyIzHnrwqoJcIyAQWHh03wwxwx9iRD7dT3RmqceqZgg8Md1mo9m8VxIU-XVGW3ZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 16fab900-cc78-4137-aa4d-c21d135cb97c
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-775306d6-bde6-42f7-b32f-9c412f81ca24
    body:
      encoding: UTF-8
      string: '{"volumeAttachments": [{"device": "/dev/xvdb", "serverId": "95d4f801-858a-4728-9ac0-dc5900d71f76",
        "id": "b90106aa-a1f8-4a5f-b253-e34af6badb31", "volumeId": "b90106aa-a1f8-4a5f-b253-e34af6badb31"}]}'
  recorded_at: Fri, 06 May 2016 14:25:37 GMT
recorded_with: VCR 3.0.1
