---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AABnJkd7QAvm_tIgeLm9irXqiWxRukR14xwemN7zGIPEzU9R1HS808Z84jpb3gEBapUlYYJmkrKTWNwyIzHnrwqoJcIyAQWHh03wwxwx9iRD7dT3RmqceqZgg8Md1mo9m8VxIU-XVGW3ZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - eabdd34e-a6a7-4b52-a994-e12fd85b5be4
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-22ccf348-2b07-45fc-a037-f26f9c0fcf3d
    body:
      encoding: UTF-8
      string: '{"servers": [{"id": "95d4f801-858a-4728-9ac0-dc5900d71f76", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "bookmark"}], "name": "crb_discourse"}, {"id": "b32068b7-4e57-4125-9d1a-33918e292e88",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "bookmark"}], "name": "personal"}, {"id": "9037d915-ee27-4573-808b-167ddf05f856",
        "links": [{"href": "https://iad.servers.api.rackspacec[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76/os-volume_attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AABnJkd7QAvm_tIgeLm9irXqiWxRukR14xwemN7zGIPEzU9R1HS808Z84jpb3gEBapUlYYJmkrKTWNwyIzHnrwqoJcIyAQWHh03wwxwx9iRD7dT3RmqceqZgg8Md1mo9m8VxIU-XVGW3ZA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - ae700fcb-c8fd-4258-b8e9-1bf86dea5cb5
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-9a444156-a63b-445e-a4bc-9a915551f9a8
    body:
      encoding: UTF-8
      string: '{"volumeAttachments": [{"device": "/dev/xvdb", "serverId": "95d4f801-858a-4728-9ac0-dc5900d71f76",
        "id": "b90106aa-a1f8-4a5f-b253-e34af6badb31", "volumeId": "b90106aa-a1f8-4a5f-b253-e34af6badb31"}]}'
  recorded_at: Thu, 05 May 2016 19:12:37 GMT
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AABnJkd7QAvm_tIgeLm9irXqiWxRukR14xwemN7zGIPEzU9R1HS808Z84jpb3gEBapUlYYJmkrKTWNwyIzHnrwqoJcIyAQWHh03wwxwx9iRD7dT3RmqceqZgg8Md1mo9m8VxIU-XVGW3ZA
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
      X-Trans-Id:
      - 243df2af-1e97-49d7-a1d2-f8f2e9f496fc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 18:04:53 GMT
recorded_with: VCR 3.0.1
