---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - b5b766cf-182a-49f3-b848-42b49438b7c8
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-7c2c4d45-ef97-4216-bc78-88a2be9747a1
    body:
      encoding: UTF-8
      string: '{"servers": [{"id": "95d4f801-858a-4728-9ac0-dc5900d71f76", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "bookmark"}], "name": "crb_discourse"}, {"id": "b32068b7-4e57-4125-9d1a-33918e292e88",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "bookmark"}], "name": "personal"}, {"id": "9037d915-ee27-4573-808b-167ddf05f856",
        "links": [{"href": "https://iad.servers.api.rackspacec[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76/os-volume_attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 674208d5-359d-46fb-a7bf-bc0bc9a32d00
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-303d4c57-61d7-47d0-842b-b4fb8890842b
    body:
      encoding: UTF-8
      string: '{"volumeAttachments": [{"device": "/dev/xvdb", "serverId": "95d4f801-858a-4728-9ac0-dc5900d71f76",
        "id": "b90106aa-a1f8-4a5f-b253-e34af6badb31", "volumeId": "b90106aa-a1f8-4a5f-b253-e34af6badb31"}]}'
  recorded_at: Tue, 26 Jan 2016 19:49:11 GMT
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
      X-Trans-Id:
      - 75c18c5c-026e-4e2c-bd6f-2a42c0e54d52
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 04 May 2016 19:45:14 GMT
recorded_with: VCR 3.0.1
