---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 919bccb7-8176-4798-93db-a5741c0a152d
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-4538cf63-be6a-4f31-9073-9527774e2839
    body:
      encoding: UTF-8
      string: '{"servers": [{"id": "b2bfa0ed-5a9c-40d1-a43e-0a41f31ff413", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b2bfa0ed-5a9c-40d1-a43e-0a41f31ff413",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/b2bfa0ed-5a9c-40d1-a43e-0a41f31ff413",
        "rel": "bookmark"}], "name": "Testing"}, {"id": "a0606809-bac8-4a51-8480-668c33072e2a",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/a0606809-bac8-4a51-8480-668c33072e2a",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/a0606809-bac8-4a51-8480-668c33072e2a",
        "rel": "bookmark"}], "name": "Testing"}, {"id": "95d4f801-858a-4728-9ac0-dc5900d71f76",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.co[...]
- request:
    method: put
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b2bfa0ed-5a9c-40d1-a43e-0a41f31ff413
    body:
      encoding: UTF-8
      string: '{"server":{"id":"b2bfa0ed-5a9c-40d1-a43e-0a41f31ff413","links":[{"href":"https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b2bfa0ed-5a9c-40d1-a43e-0a41f31ff413","rel":"self"},{"href":"https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/b2bfa0ed-5a9c-40d1-a43e-0a41f31ff413","rel":"bookmark"}],"name":"Testing"}}'
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
      X-Trans-Id:
      - 787bbcdf-a29a-4a4c-a9de-a22aa3f8c078
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Jan 2016 19:42:14 GMT
recorded_with: VCR 3.0.1
