---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 9bfa8c06-29b1-4c0d-b14f-05ec47fbf778
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-2f66259a-e17e-425f-a3ce-33e799cb22f9
    body:
      encoding: UTF-8
      string: '{"images": [{"id": "9e388334-ea9d-497b-815a-2ab73cccb4c5", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/images/9e388334-ea9d-497b-815a-2ab73cccb4c5",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/images/9e388334-ea9d-497b-815a-2ab73cccb4c5",
        "rel": "bookmark"}, {"href": "https://iad.servers.api.rackspacecloud.com/images/9e388334-ea9d-497b-815a-2ab73cccb4c5",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "name": "OnMetal
        - CentOS 6"}, {"id": "6045cb80-52ed-4114-bf9a-7f15a36c65dc", "links": [{"href":
        "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/images/6045cb80-52ed-4114-bf9a-7f15a36c65dc",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/images/6045cb80-52ed-4114-bf9a-7f15a36c65dc",
        "rel": "bookmark"}, {"href": "https://iad.servers.api.rackspacecloud.com/images/6045cb80-52ed-4114-bf9a-7f15a36c65dc",
        "type": "appl[...]
