---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AACjvUxD2_AcQCvLgRxw2d4d-eCr7rD3rlG5tTnhPsO9QvrZYGUGEp9YSp4OMl5JxyZ4cS5VuIHCvZYLOw7mOmMgO3w0TXqKX7t9EUs6d_Ff0YsGjlmPfh_YJcKn5QzaytqWul7szhBZ4A
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - b5fc59e5-e732-4db9-89c5-07c81e97ee94
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-55314f17-3905-45ee-a7f7-d2fbaeadbd9e
    body:
      encoding: UTF-8
      string: '{"images": [{"id": "41616b04-1738-4990-9034-d8fa7fdd906b", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/images/41616b04-1738-4990-9034-d8fa7fdd906b",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/images/41616b04-1738-4990-9034-d8fa7fdd906b",
        "rel": "bookmark"}, {"href": "https://iad.servers.api.rackspacecloud.com/images/41616b04-1738-4990-9034-d8fa7fdd906b",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "name": "Red
        Hat Enterprise Linux 6 (PVHVM)"}, {"id": "797e75be-c1af-429c-bd7c-978e8605e5f7",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/images/797e75be-c1af-429c-bd7c-978e8605e5f7",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/images/797e75be-c1af-429c-bd7c-978e8605e5f7",
        "rel": "bookmark"}, {"href": "https://iad.servers.api.rackspacecloud.com/images/797e75be-c1af-429c-bd7c-978e8605e5f7",
     [...]
