---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AACjvUxD2_AcQCvLgRxw2d4d-eCr7rD3rlG5tTnhPsO9QvrZYGUGEp9YSp4OMl5JxyZ4cS5VuIHCvZYLOw7mOmMgO3w0TXqKX7t9EUs6d_Ff0YsGjlmPfh_YJcKn5QzaytqWul7szhBZ4A
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - d6775f52-f9e1-41b1-9550-b44954088a8c
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-45a8c351-3480-417a-bfe4-7de984df2168
    body:
      encoding: UTF-8
      string: '{"flavors": [{"id": "2", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors/2",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/flavors/2",
        "rel": "bookmark"}], "name": "512MB Standard Instance"}, {"id": "3", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors/3",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/flavors/3",
        "rel": "bookmark"}], "name": "1GB Standard Instance"}, {"id": "4", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors/4",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<[...]
