---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 738d2884-31d2-4cc9-a37e-bfd0ce160055
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d1551939-59f6-4c27-bd97-b67c03701308
    body:
      encoding: UTF-8
      string: '{"flavors": [{"id": "2", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors/2",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/flavors/2",
        "rel": "bookmark"}], "name": "512MB Standard Instance"}, {"id": "3", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors/3",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/flavors/3",
        "rel": "bookmark"}], "name": "1GB Standard Instance"}, {"id": "4", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors/4",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
      X-Trans-Id:
      - a787b355-68c5-4f2d-a2f0-c90eedcef8ac
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 04 May 2016 19:45:12 GMT
recorded_with: VCR 3.0.1
