---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - fe1e6169-6e2e-4564-a417-3ed1243afea5
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-fa4c7932-43cc-409b-93c4-216f94a1baff
    body:
      encoding: UTF-8
      string: '{"servers": [{"id": "95d4f801-858a-4728-9ac0-dc5900d71f76", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "bookmark"}], "name": "crb_discourse"}, {"id": "b32068b7-4e57-4125-9d1a-33918e292e88",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "bookmark"}], "name": "personal"}, {"id": "9037d915-ee27-4573-808b-167ddf05f856",
        "links": [{"href": "https://iad.servers.api.rackspacec[...]
- request:
    method: put
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76
    body:
      encoding: UTF-8
      string: '{"server":{"id":"95d4f801-858a-4728-9ac0-dc5900d71f76","links":[{"href":"https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76","rel":"self"},{"href":"https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76","rel":"bookmark"}],"name":"crb_discourse"}}'
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 5d583178-a500-4bff-a126-c1dc597f3d58
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-01462e33-3ea4-4cc1-88e3-2988c8455ae5
    body:
      encoding: UTF-8
      string: '{"server": {"status": "ACTIVE", "updated": "2016-01-27T15:35:18Z",
        "hostId": "8dc6e5fb8b3c505962f54b01cdc19555f1252f32ee8ddd012eb763e8", "addresses":
        {"public": [{"version": 6, "addr": "2001:4802:7802:102:be76:4eff:fe21:2a8d"},
        {"version": 4, "addr": "162.242.245.203"}], "private": [{"version": 4, "addr":
        "10.208.163.141"}]}, "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "bookmark"}], "image": {"id": "59a3fadd-93e7-4674-886a-64883e17115f",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/images/59a3fadd-93e7-4674-886a-64883e17115f",
        "rel": "bookmark"}]}, "flavor": {"id": "general1-4", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/flavors/general1-4",
        "rel": "bookmark"}]}, "id": "95d4f801-858a-4728-9ac0-dc5900d71f76", "user_id":
        "1658c175e6f34629915d3305cd4e541c", "name": "crb_discourse", "created": "2015-12-23T00:26:49Z",
        "tenant_id": "<RS_TENANT_ID>", "OS-DCF:diskConfig": "MANUAL", "accessIPv4":
        "162.242.245.203", "accessIPv6": "2001:4802:7802:102:be76:4eff:fe21:2a8d",
        "progress": 100, "metadata": {"build_config": "monitoring_defaults,monitoring_agent_only,auto_updates",
        "rax_service_level_automation": "Complete"}}}'
  recorded_at: Wed, 27 Jan 2016 17:01:22 GMT
[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AAD276xqrvGhMUmPG6eUoH7vF_x_juuKjGjDKRQQzabDXsCvxP9bhhbcPU0BShAbtYMSH4Lu-dFNROuq08bbR4KVJuz1yqNw3Z_m34F0F8yZgTcvVWhPkKYD-bHWIUD-sFq7hlUBagNMrw
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
      X-Trans-Id:
      - a3b2c28a-32f3-42c8-b322-c5a17b563943
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 04 May 2016 19:45:14 GMT
recorded_with: VCR 3.0.1
