---
http_interactions:
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AACjvUxD2_AcQCvLgRxw2d4d-eCr7rD3rlG5tTnhPsO9QvrZYGUGEp9YSp4OMl5JxyZ4cS5VuIHCvZYLOw7mOmMgO3w0TXqKX7t9EUs6d_Ff0YsGjlmPfh_YJcKn5QzaytqWul7szhBZ4A
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trans-Id:
      - 2fb1a7ca-f7a9-4d2b-987f-6d5aa4b003b3
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-44a9d954-932a-4fac-ba10-066fc680c21f
    body:
      encoding: UTF-8
      string: '{"servers": [{"id": "95d4f801-858a-4728-9ac0-dc5900d71f76", "links":
        [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/95d4f801-858a-4728-9ac0-dc5900d71f76",
        "rel": "bookmark"}], "name": "crb_discourse"}, {"id": "b32068b7-4e57-4125-9d1a-33918e292e88",
        "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/b32068b7-4e57-4125-9d1a-33918e292e88",
        "rel": "bookmark"}], "name": "personal"}, {"id": "9037d915-ee27-4573-808b-167ddf05f856",
        "links": [{"href": "https://iad.servers.api.rackspacec[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/volumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - AACjvUxD2_AcQCvLgRxw2d4d-eCr7rD3rlG5tTnhPsO9QvrZYGUGEp9YSp4OMl5JxyZ4cS5VuIHCvZYLOw7mOmMgO3w0TXqKX7t9EUs6d_Ff0YsGjlmPfh_YJcKn5QzaytqWul7szhBZ4A
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Trans-Id:
      - de5ff6cf-7f4b-485c-adb0-1c9ccc6c90d2
      Content-Type:
      - text/plain; charset=UTF-8
      X-Compute-Request-Id:
      - req-e62759fa-f5c4-478e-9ee0-99e169418c1c
    body:
      encoding: UTF-8
      string: "404 Not Found\n\nThe resource could not be found.\n\n   "
  recorded_at: Tue, 10 May 2016 18:33:56 GMT
recorded_with: VCR 3.0.1
